.prontuarios-grid {
    display: grid; 
    display: flex;
    grid-template-columns: repeat(2, 1fr); 
    gap: 2.5rem; 
    width: 100%;
}

@media (max-width: 992px) {
    .prontuarios-grid {
        grid-template-columns: 1fr;
    }
}